<% provide(:title, "Notification") %>
 <div class="container">
    <h3 class="text-center mb-5">Notifications</h3>
    <main class="p-3 col-md-8 offset-md-2">
      <% if @notifications.present? %>
        <%= link_to notification_path(@notifications), class: 'notification-delete', method: :delete, data: { confirm: "Are you OK?" } do %>
          <i class="fas fa-trash" style="color: gray;"></i>
          <h7 style="color: gray;">Delete all</h7>
        <% end %>
        <div id="notifications" class="feed">
          <%= render @notifications %>
        </div>
      <% else %>
        <h3 class="text-center">No notifications</h3>
      <% end %>
    </main>
  </div>