<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="media feed-follow">
        <div id="feed_follow_button" class="media-body ">
          <%= gravatar_for user, size: 50 %>
          <%= link_to user.name, user %>
          <%= render 'feed_follow_button', user: user %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>
