<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="media feed-follow">
        <div class="media-body ">
          <%= gravatar_for user, size: 50 %>
          <%= link_to user.name, user %>
        </div>
        <div id="follow_button" data-turbolinks="false" class="feed-follow-button">
          <%= render 'follow_button', user: user %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>
