<% users.each do |user| %>
  <li class="media">
    <div class="media-body">
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
      <% if (current_user.admin? && current_user != user) || (!current_user.admin? && current_user == user) %>
      | <%= link_to "Delete", user_path(user), method: :delete,
                                          data: { confirm: "Are you OK？" } %>
      <% end %>                                    
    </div>
  </li>
<% end %>
