<% provide(:title, 'All Users') %>
<div class="gtco-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="users list-unstyled">
        <%= render 'users', users: @users %>
      </ul>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2 text-center">
    <%= paginate @users %>
  </div>
</div>
