<% provide(:title, "Profile") %>
  <div class="container">
    <h3 class="title-profile">Profile</h3>
    <div class="row">
      <div class="col-md-4">
        <%= gravatar_for @user, size: 120 %>
      </div>
      
      <div class="col-md-8">
        <h4 class="show-user-name"><%= @user.name %></h4>
      
        <div>
          <%= @user.introduce %>
        </div>
      
        <% if current_user == @user %>
          <div class="profile-edit"><%= link_to 'Edit Profile', edit_user_path(@user) %></div>
        <% end %>
      </div>
    </div>
  </div>

