<% if @destinations.any? %>
  <ul class="destinations">
    <%= render 'destinations/destination', destinations: @destinations %>
  </ul>
  
  <div class="col-md-8 col-md-offset-2 text-center">
    <%= paginate @destinations %>
  </div>  

  
<% end %>