<div class="stats">
  <a href="<%= followings_user_path(user) %>">
    <strong class="stats"><%= user.followings.count %></strong> Follow
  </a>
  
  <a href="<%= followers_user_path(user) %>">
    <strong class="stats"><%= user.followers.count %></strong> Follower
  </a>  
</div>