	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center gtco-heading">
					<h2>How to Goは、「行き先」の共有に特化したサービスです。</h2>
					<p>行きたい場所へ、すぐ行こう！</p>
				</div>
			</div>
		</div>
	</div>	

	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center gtco-heading animate-box">
					<h2>How to Use</h2>
					<p></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i>1</i>
						</span>
						<h3>Destination機能</h3>
						<p>行き方について公開、共有をすることができます。</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i>2</i>
						</span>
						<h3>Schedule機能</h3>
						<p>行き方を複数組み合わせて、旅程として公開することができます。</p>
					</div>
				</div>
			</div>
		</div>
	</div>