<% if logged_in? %>
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p></p>
        <div><%= render 'layouts/search' %></div>
        <div id="destination" class="feed">
          <%= render 'shared/destination_feed' %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'about' %>
<% end %>
    