<% if logged_in? %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3 class="text-center mb-5">Everyone's Posts</h3>
        <div>
          <%= render 'shared/destination_feed' %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <h1>What's How to Go?</h1>
    <h2>How to Goは、「行き先」の共有に特化したサービスです。</h2>
  </div>
<% end %>
    