<% provide(:title, "Edit: #{@destination.to}") %>
<div class="container">
  <h3 class="text-center mb-5">Edit</h3>
  <div class="col-md-8 offset-md-2">
    <% unless @destination.schedules.any? %>
      <%= render 'destinations/edit_form' %>
    <% else %>
      <%= render 'destinations/edit_schedule_form' %>
    <% end %>
  </div>
</div> 