<% provide(:title, "Edit: #{@destination.to}") %>
<div class="gtco-container">
  <div class="col-md-10 col-md-offset-1">
    <p></p>
    <% unless @destination.schedules.any? %>
      <%= render 'destinations/edit_form' %>
    <% else %>
      <%= render 'destinations/edit_schedule_form' %>
    <% end %>
  </div>
</div> 