<% provide(:title, 'New Destination') %>
<div class="gtco-container">
  <div class="col-md-8 col-md-offset-2">
    <p></p>
    <div id="destination">
      <%= render 'destinations/form' %>
    </div>
  </div>
</div>