<% provide(:title, 'New Schedule') %>
<div class="gtco-container">
  <div class="col-md-8 col-md-offset-2">
    <p></p>
    <div id="schedule">
      <%= render 'destinations/schedule_form' %>
    </div>
  </div>
</div>
  