
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


// navigation



// sessions_new

.checkbox-cursor {
 cursor: pointer;
}

 #session_remember_me {
 width: auto;
 margin-left: 0;
}

// users_index
.users {
 list-style: none;
 margin: 0;
 
 li {
   overflow: auto;
   padding: 10px 0;
   border-bottom: 1px solid #e8e8e8;
 }
}

// users_new
.signup_button {
    margin-bottom: 15px;
}

// destinations_feed
.feed-detail {
    margin-top: 55px;
}

.feed{
    padding: 0;
    margin-top: 10px;
    
    li {
        padding: 10px 0;
        border-bottom: 1px solid #e8e8e8;
    }
    
    .to {
        margin-left: 40px;
    }
    
    .from{
        display: block;
        margin-left: 40px;
        margin-top: 15px;
    }
    
    .date{
        display: block;
        margin-left: 40px;
        margin-top: 15px;
    }
    
    .time{
        display: block;
        margin-left: 40px;
        margin-top: 15px;
    }
    
    .outline {
        display: block;
        margin-left: 40px;
        margin-top: 15px;
    }
    
    
}

.post-type-destination {
    font-size: 25px;
    color: orange;
}

.post-type-schedule {
    font-size: 25px;
    color: green;
}

.show-destination-detail{
    margin-top: 30px;
}

// destinations_new

.required {
  color: red;
  font-size: 13px;
}

.optional {
  font-size: 13px;
}




// destination_schedule_new
.new-schedule-title {
    font-size: 25px;
    text-align: center;
}

.remove_schedule {
    color: red;
}

// destinations_show

.destination-show-h2{
    text-align:left;
    font-size: 30px;
    margin-left: 40px;
}

.destination-show-h4{
    margin-bottom: 70px;
    font-size: 25px;
    margin-left: 40px;
}

.destination-show-user{
    margin-left: auto;
    margin-right: 0;
    display: inline-block;
    font-size: 20px;
}

.edit-destination{
    margin-right: 10px;
    margin-left: 10px;
}

#destination_picture{
    margin-bottom: 10px;
}

.destination-picture img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.show-post-type-schedule {
    font-size: 35px;
    color: green;
}

.show-post-type-destination {
    font-size: 35px;
    color: orange;
}

.show-favorite-button {
    font-size: 20px;
}

// destination_show_schedule
.schedule-show-date {
    font-size: 35px;
}

.schedule-detail {
    border-top: 2px solid #e8e8e8;
}

// users_show

.page-titles {
    font-size: 35px;
}

.user_profile {
    margin-top: 40px;
}

.user_show_feed {
    margin-top: 30px;
}

// users_edit
.gravatar_edit {
    margin-bottom: 10px;
}


// following/followers
.feed-follow{
   overflow: auto;
   padding: 10px 0;
   border-bottom: 1px solid #e8e8e8;
 }

.feed-follow-button {
    display: inline-block;
    float: right;
}

.follow-profile{
    position: relative;
    bottom: 50px;
}

// favorite/unfavorite
.favorite {
    color: blue;
}

.unfavorite {
    color: red;
}

// comment
.more {
    color: gray;
    cursor: pointer;
}

.commentfeed{
    margin-bottom: 30px;
    margin-left: 40px;
}

.comment-feed {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom : 10px;
    
    .comment-user {
        margin-bottom: 10px;
        font-size: 25px;
    }
    .comment-text {
        margin-bottom: 10px;
        font-size: 25px;
    }
    .comment-date{
        text-align: right;
        margin-bottom: 10px;
        font-size: 15px;
    }
}

.comment-button {
    margin-top: 10px;
}

// notification
.notifications {
    li {
        padding: 10px 0;
        border-bottom: 1px solid #e8e8e8;
    }
}

li.new_notification > a > span {
  color: red;
}












