
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

* {
    font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.checkbox {
 margin-top: -10px;
 margin-bottom: 10px;
 span {
   margin-left: 20px;
   font-weight: normal;
 }
}
 #session_remember_me {
 width: auto;
 margin-left: 0;
}

.users {
 list-style: none;
 margin: 0;
 
 li {
   overflow: auto;
   padding: 10px 0;
   border-bottom: 1px solid #e8e8e8;
 }
}

.pagination {
  justify-content: center;
}

.feed{
    padding: 0;
    margin-top: 10px;
    
    li {
        padding: 10px 0;
        border-bottom: 1px solid #e8e8e8;
    }
    
    .to {
        
    }
    
    .from{
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .time{
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .date{
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .outline {
        display: block;
        margin-left: 10px;
        img {
          display: block;
          padding: 5px 0;
        }
    }
    
    .edit{
        display: block;
        margin-left: auto;
        width: 150px;
        margin-right: 0;
    }
    
    .username {
        display: block;
        margin-left: auto;
        margin-right: 0;
        width: 150px;
    }
    
    .gravatar {
    
    margin-right: 10px;
    margin-top: 5px;
    }
}

.required {
  color: red;
  font-size: 13px;
}

.optional {
  font-size: 13px;
}

.destination-show-h2{
    text-align:left;
    font-size: 35px;
}

.destination-show-h4{
    margin-bottom: 70px;
    font-size: 25px;
}

.destination-show-user{
    margin-left: 500px;
}

.edit-destination{
    margin-right: 10px;
    margin-left: 10px;
}

#destination_picture{
    margin-bottom: 10px;
}

.destination-picture img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.stats{
    margin: 10px 0;
}

.feed-follow{
   overflow: auto;
   padding: 10px 0;
   border-bottom: 1px solid #e8e8e8;
 }

.feed-follow-button {
    display: inline-block;
    float: right;
}

.follow-profile{
    position: relative;
    bottom: 50px;
}

.favorite {
    color: blue;
}

.unfavorite {
    color: red;
}

.more {
    color: gray;
    cursor: pointer;
}

.destination-show-h4-commentfeed{
    margin-bottom: 30px;
}

.comment-feed {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom : 10px;
    
    .comment-user {
        margin-bottom: 10px;
        font-size: 25px;
    }
    .comment-text {
        margin-bottom: 10px;
        font-size: 25px;
    }
    .comment-date{
        text-align: right;
        margin-bottom: 10px;
        font-size: 15px;
    }
}

.comment-button {
    margin-top: 10px;
}


.notifications {
    li {
        padding: 10px 0;
        border-bottom: 1px solid #e8e8e8;
    }
}

li.new_notification > a > span {
  color: red;
}

.page-titles {
    font-size: 35px;
}
