<footer id="gtco-footer" role="contentinfo">
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          <small class="block">&copy; RH All Rights Reserved.</small>
        </p>
      </div>
    </div>
  </div>
</footer>